.fLeft { float: left; }
.fRight { float: right; }
.clear { clear: both; float: none; }
.center { text-align: center; }
@media print{ .no-print { display: none !important; } }

.forbidSelectText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.width100per { width: 100%; }
.height-10 { height: 10px; }
.height-20 { height: 20px; }
.height-500 { height: 500px; }
.height-800 { height: 800px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-10-10-20-10 { padding: 10px 10px 20px 10px; }
.padding-l-10 { padding-left: 10px; }
.padding-b-10 { padding-bottom: 10px !important;}
.padding-l-20 { padding-left: 20px; }
.padding-r-20 { padding-right: 20px; }
.padding-t-10 { padding-top: 10px; }
.padding-t-20 { padding-top: 20px; }
.margin-t-20 { margin-top: 20px; }

.margin-t-10 { padding-bottom: 10px !important;}
.margin-b-10 { padding-bottom: 10px !important;}

.t-a-l { text-align: left; }
.t-a-c { text-align: center; }
.t-a-r { text-align: right; }

.clr-dedede { color: #dedede !important; }
.clr-c0c0c0 { color: #c0c0c0 !important; }

.mouseoverhand { cursor: pointer; }

.main-sidebar .sidebar .control-panel { width: 100%; text-align: center; margin-top: 30px; }
.img-404-error { width: 380px; padding-top: 30px; }
.verion-sidebar { color: #546d79; text-align: center; padding-top: 20px; }

.product-img {  }

#pro-elems-wrap { padding: 124px 0 0 20px;  width: calc(100% - 400px); }

#productlist-filter-btn-wrap { padding-bottom: 20px; }

.master-product-box { cursor: pointer; }
.master-product-box:hover { transform: scale(1.05); }

.input-add-product-quantity { width: 40px; text-align: center; border: 1px solid #bbb; border-radius: 3px; }
.btn-add-product-quantity { padding: 1px 0 !important; margin: -3px 0 0 5px !important; width: 50px; }
.btn-accept-kunden { padding: 1px 10px !important; margin: -3px 0 0 5px !important; }

#warenkorb-sidebar-wrap { padding: 20px; color: #FFFFFF; }
.pos-in-cart-wrap {  }

.line1 { border: 0 !important; border-top: 1px solid #475054 !important; margin: 10px 0 !important; }
.line2 { border: 0 !important; border-top: 1px solid #475054 !important; margin: 15px 0 10px 0 !important; }

.u-flyer{
    display: block; width: 80px;height: 80px; position: fixed; z-index: 9999;
}

.btn-in-cart { width: 100%; margin: 15px 0; }
.select-in-cart { width: 50px !important; height: 22px !important; display: inline-block !important; padding: 0 !important; font-weight: bold; }

.input-group .input-group-addon { background-color: #00c0ef !important; color: #FFFFFF !important; }
.input-group-addon { border: 1px solid #367fa9 !important; }

#order-create-product-search-result-wrap { margin-top: 15px; display: none; }

.setSearchProductPoolOption { cursor: pointer; }

.highlightForSearchResult { color: #FF0000; font-weight: bold; }

.disabledSelectOption { font-weight: bold; font-style: italic; color: #000000; font-size: 16px; }

#form-wrap-lieferanschrift { background-repeat: no-repeat; background-position: 50% 40%; background-size: 80% auto; }


#step-line-control { text-align: left; margin-left: -27px; }
.goto-create-order-step-label { width: 150%; background-image: url('/wp-content/uploads/images/label.png'); background-repeat: no-repeat; min-height: 38px; margin-top: 20px; font-size: 14px; font-weight: bold; color: #ffffff; padding: 6px 0 0 25px; cursor: pointer; }
.goto-create-order-step-label:hover{ background-image: url('/wp-content/uploads/images/label_h.png'); }


#lagerbestand-historie-product-name { line-height: 34px; }

circle { cursor: none; }

.datepicker { padding: 10px 10px 20px 10px !important; border: 2px solid #3c8dbc !important; }

.discount-price { color: #FF0000 !important; }

.input-group .input-group-addon { min-width: 50px; }

.input-summe-block { width: 100px !important; height: 22px !important; cursor: pointer; text-align: right; border: 0 !important; margin-top: -1px !important; }

.dropdown-menu > li { cursor: pointer; }

.text-row { padding: 5px 0; border-bottom: 1px solid #f4f4f4; }

.oder-page-top-btn { margin-left: 10px; margin-top: 20px; }

.sorting_1 { min-width: 100px; text-align: center; }

.radio-order-change-stock { margin-right: 15px; cursor: pointer; color: #FFF; font-size: 16px; font-weight: normal; }

/**
 * Ying: 自适应
 */
@media screen and (min-width: 1025px) {
    #master-pros-wrap { width: 360px; }
    #productlist-filter-btn-wrap { width: 95%; }
    #master-product-box-wrap { width: 95%; }

    #create-order-steps-wrap { border-right: 1px solid #125775; }
    #step-line-control { display: block; }
}
@media screen and (min-width: 781px) and (max-width: 1024px) {
    #master-pros-wrap { width: 360px; }
    #productlist-filter-btn-wrap { width: 95%; }
    #master-product-box-wrap { width: 95%; }

    #create-order-steps-wrap { border-right: 1px solid #125775; }
    #step-line-control { display: block; }
}
@media screen and (min-width: 601px) and (max-width: 780px) {
    #master-pros-wrap { width: 360px; }
    #productlist-filter-btn-wrap { width: 95%; }
    #master-product-box-wrap { width: 95%; }

    #create-order-steps-wrap { border-right: 1px solid #125775; }
    #step-line-control { display: block; }
}
@media (max-width: 600px) {
    #master-pros-wrap { width: 100%; }
    #productlist-filter-btn-wrap { width: 100%; }
    #master-product-box-wrap { width: 100%; }

    #create-order-steps-wrap { border-right: 0 solid #125775; }
    #step-line-control { display: none; }
}

/**
 * Ying: 订单列表自适应
 */
@media only screen and (min-width: 1721px) {
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
}
@media only screen and (min-width: 1621px) and (max-width: 1720px) {
    .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1 { display:none !important; }
}
@media only screen and (min-width: 1501px) and (max-width: 1620px) {
    .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2 { display:none !important; }
}
@media only screen and (min-width: 1361px) and (max-width: 1500px) {
    .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3 { display:none !important; }
}
@media only screen and (min-width: 1225px) and (max-width: 1360px) {
    .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4 { display:none !important; }
}
@media only screen and (min-width: 1121px) and (max-width: 1224px) {
    .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5 { display:none !important; }
}
@media only screen and (min-width: 1011px) and (max-width: 1120px) {
    .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6 { display:none !important; }
}
@media only screen and (min-width: 631px) and (max-width: 1010px) {
    .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7 { display:none !important; }
}
@media only screen and (min-width: 511px) and (max-width: 630px) {
    .order-tbl-col-hidn-9 { display: table-cell !important; }
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8 { display:none !important; }
}
@media only screen and (max-width: 510px) {
    .order-tbl-col-hidn-1, .order-tbl-col-hidn-2, .order-tbl-col-hidn-3, .order-tbl-col-hidn-4, .order-tbl-col-hidn-5, .order-tbl-col-hidn-6, .order-tbl-col-hidn-7, .order-tbl-col-hidn-8, .order-tbl-col-hidn-9 { display:none !important; }
}

#delivery-notes-list-wrap table { font-size: 18px; line-height: 40px; }
@media only screen and (min-width: 561px) {
    .deliverynote-table-td-name { text-align: left; }
}
@media only screen and (max-width: 560px) {
    .deliverynote-table-td-name { text-align: center; }
}
/* 表格美化 */
#delivery-notes-list-wrap table tr:nth-child(odd){ background:#F4F4F4; }
#delivery-notes-list-wrap table td:nth-child(even){  }
#delivery-notes-list-wrap table tr:hover{ background:#d8e8f2; color: #ffffff; }
#delivery-notes-list-wrap table td { padding: 10px; line-height: 20px; }
#delivery-notes-list-wrap table th { padding: 10px; line-height: 20px; background-color: #3c8dbc; color: #ffffff; }

#operation-history-table-wrap table tr:nth-child(odd){ background:#F4F4F4; }
#operation-history-table-wrap table td:nth-child(even){  }
#operation-history-table-wrap table tr:hover{ background:#d8e8f2; color: #3c8dbc; }
#operation-history-table-wrap table td { padding: 10px; line-height: 20px; }
#operation-history-table-wrap table th { font-size: 18px; padding: 10px; line-height: 20px; background-color: #3c8dbc; color: #ffffff; }

/**
 * Umsatzstatistik 页面
 */
.umsatzstatistik-control-panel { border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-size: 16px; }
.umsatzstatistik-control-panel input { cursor: pointer; }
@media only screen and (max-width: 991px) {
    .umsatzstatistik-control-panel { padding: 15px 0; }
    #btn-show-umsatz { width: 100%; }
    #result-panel { text-align: center; }
}
@media only screen and (min-width: 992px) {
    .umsatzstatistik-control-panel { padding: 15px 0 0 0; }
    #btn-show-umsatz { padding-left:30px; padding-right:30px; }
    #result-panel { text-align: left; }
}
#umsatz-result-total-table-wrap table tr:nth-child(odd){ background:#F4F4F4; }
#umsatz-result-total-table-wrap table td:nth-child(even){  }
#umsatz-result-total-table-wrap table tr:hover{ background:#d8e8f2; color: #3c8dbc; }
#umsatz-result-total-table-wrap table td { padding: 10px; line-height: 20px; }
#umsatz-result-total-table-wrap table th { font-size: 18px; padding: 10px; line-height: 20px; background-color: #3c8dbc; color: #ffffff; }
#umsatz-result-total-table-wrap table .td-l { text-align: left; color: #3c8dbc; }
#umsatz-result-total-table-wrap table .th-l { text-align: left; }
#umsatz-result-total-table-wrap table .td-r { text-align: right; color: #3c8dbc; }
#umsatz-result-total-table-wrap table .th-r { text-align: right; }
#umsatz-result-total-table-wrap table .td-m { text-align: left; color: #3c8dbc; }
#umsatz-result-total-table-wrap table .th-m { text-align: left; }
@media only screen and (max-width: 820px) {
    #umsatz-result-total-table-wrap table .td-m { display: none; }
    #umsatz-result-total-table-wrap table .th-m { display: none; }
    #umsatz-result-total-table-wrap table .td-r-unpaid { display: none; }
    #umsatz-result-total-table-wrap table .th-r-unpaid { display: none; }
}
@media only screen and (min-width: 821px) and (max-width: 920px) {
    #umsatz-result-total-table-wrap table .td-m { display: none; }
    #umsatz-result-total-table-wrap table .th-m { display: none; }
    #umsatz-result-total-table-wrap table .td-r-unpaid { display: table-cell; }
    #umsatz-result-total-table-wrap table .th-r-unpaid { display: table-cell; }
}
@media only screen and (min-width: 921px) {
    #umsatz-result-total-table-wrap table .td-m { display: table-cell; }
    #umsatz-result-total-table-wrap table .th-m { display: table-cell; }
    #umsatz-result-total-table-wrap table .td-r-unpaid { display: table-cell; }
    #umsatz-result-total-table-wrap table .th-r-unpaid { display: table-cell; }
}
#barChart-Umsatz { background-color: #f7f7f7; }


.hinweis { color: #367fa9; }

@media only screen and (min-width: 992px) {
    #shopping-cart-wrap {
        padding-left: 0 !important;
    }
}

/**
 * Tree View
 */
.treeview > .group { border: 1px solid #999999; margin-bottom: 8px; padding: 5px 55px 5px 5px;  }

/**
 * Multiple Select
 */
.ms-parent { width: 300px !important; }
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #d2d6de !important;
}
#lg-rgl-sel-wrap button { height: 34px !important; }
#lg-rgl-sel-wrap button > span { padding-top: 3px; padding-left: 20px; }

.month-widget-wrap { margin: 5px 0 15px 0; }
.month-widget-wrap .widget-user-2 { margin: 5px 0 20px 0; box-shadow:0 2px 27px 6px rgba(0, 0, 0, .12); }

.ersatzteil-reason-box { margin: 30px 0; box-shadow:0 2px 27px 6px rgba(0, 0, 0, .12) !important; }

.gutschrift-btn { cursor: pointer; }
.gutschrift-btn:hover { margin-top: -1px; margin-left: -2px; box-shadow: 5px 5px 3px #888888; }
.gutschrift-btn-deactive { cursor: pointer; filter:alpha(Opacity=20); -moz-opacity:0.2; opacity: 0.2; }

#gutschrift-reason-wrap .form-group .ms-parent { width: 100% !important; height:34px !important; }
#gutschrift-reason-wrap .form-group .ms-parent .ms-choice { height:34px !important; line-height: 34px; }











